@page
@using Microsoft.AspNetCore.Mvc.TagHelpers

<div class="text-center mt-5">
    <h1 class="display-4 text-danger">500</h1>
    <h3 class="mb-3">Oops! Something went wrong on our end.</h3>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Try Again Later</a>
</div>