@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SunNext.Web.ViewModels.Blog.BlogPostFormModel
@{
    ViewData["Title"] = "Create Blog Post";
}
<h2>Create Blog Post</h2>
<partial name="_BlogPostForm" model="Model" />
