@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SunNext.Web.ViewModels.Blog.BlogPostFormModel
@{
    ViewData["Title"] = "Edit Blog Post";
}
<h2>Edit Blog Post</h2>
<partial name="_BlogPostForm" model="Model" />